.start-player-name h1 {
    justify-self: center;
    margin: 22px 0;
}

.start-player-name form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.start-player-name input {
    width: 40%;
    height: 30px;
    outline: none;
}